<div class="container">
    <h2>Women's Shopping</h2>
    <div class="categories">
      <div *ngFor="let category of categories" class="category"
           [class.selected]="isCategorySelected(category)"
           (click)="selectCategory(category)">
        {{ category.name }}
      </div>
    </div>
    
    <div class="types" *ngIf="selectedCategory">
      <h3>{{ selectedCategory.name }} Types</h3>
      <div *ngFor="let type of selectedCategory.types" class="type" (click)="selectType(type)">
        {{ type }}
      </div>
    </div>
    
    <div *ngIf="selectedType" class="selected-item">
      <h4>Selected Item:</h4>
      <p>{{ selectedCategory?.name }} - {{ selectedType }}</p>
      <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
    </div>
  
    <div class="cart" *ngIf="cart.length > 0">
      <h3>Shopping Cart</h3>
      <ul>
        <li *ngFor="let item of cart">
          {{ item.category }} - {{ item.type }}
          <button class="btn btn-sm btn-outline-primary mx-1" (click)="editItem(item)">Edit</button>
          <button class="btn btn-sm btn-outline-danger mx-1" (click)="deleteItem(item.id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
  